PublishSBProject/XMLSchema_-1271312103.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://annotation/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://annotation/"><xsd:complexType name="addMethod"><xsd:sequence><xsd:element name="arg0" type="xsd:int"/><xsd:element name="arg1" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="addMethodResponse"><xsd:sequence><xsd:element name="return" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:element name="addMethod" type="ns0:addMethod"/><xsd:element name="addMethodResponse" type="ns0:addMethodResponse"/></xsd:schema>